@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,500&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color:#0a0a0a;
}
.container{
    height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    border:none;
    /* background-color: red; */
}
.calc{
    padding:20px;
    border-radius:20px;
    background-color: white;
    border:none;
    color:#462e2e;
    box-shadow: -1px -1px 10px 10px rgba(189,97,97,0.8)
}

#input{
    width:100%;
    max-width:400px;
    border-radius:20px;
    height:100px;
    border:none;
    /* background:transparent; */
    text-align:center;
    margin:5px;
    font-size:60px;
    overflow: hidden;
 
    cursor:pointer;
}
button{
    border:none;
    margin:10px;
    width:60px;
    height:60px;
    border-radius: 25%; 
    cursor:pointer;
    font-size: 1.8rem;
    color: aqua;
    background:transparent;
    box-shadow:6px 6px 10px rgba(190,97,97,1),-6px -6px 10px rgba(190,97,97,1);

}
button:hover{   
    font-weight: bolder;
    border: solid aqua;
}
.new{
    box-shadow: inset 6px 6px 10px rgba(189,97,97,.5), inset -6px -6px 10px rgba(189,97,97,.9);
     color: rgb(59, 63, 63);
}
.history{
    background-color: black;
    color: white;
}
